@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* font-family: 'Open Sans',serif; */
  /* font-family: Comic Sans; */
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#mainHeader {
  background-image: linear-gradient(45deg, #2F92A1, 70%, rgba(23, 224, 124, 0.651));
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0)
}

/* #__next {
} */

.hidden {
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0px auto;
  /* z-index: -1; */
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  
  /* display: grid;
  grid-template-columns: repeat(12, 1fr); */
  
  display: flex;
  justify-content: center;

}



h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
